@import 'sass-bootstrap/lib/bootstrap';
@import 'bridle/styles/bridle';


body {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.mainContainer {
  border: 2px solid #DDD;
  border-radius: 5px;
  //background-image: linear-gradient(rgb(255, 255, 255), rgb(242, 242, 242));
  //box-shadow: rgba(0, 0, 0, 0.0627451) 0px 1px 4px 0px;
  margin-bottom: 1em;
  position: relative;
}
